.gallery
  padding-top: 1em

.thumbnail
  margin-bottom: 3em

  p
    font-family: "Georgia", "Times", serif

  .image
    background-size: cover
    height: 250px
    border: 6px solid #D8D4AE
    background-position: center center

  h3
    font-size: 1.5em
    margin: 0.5em 0 0

